@import url('https://fonts.googleapis. com/css?family=Montserrat:500');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    bottom :0;
}
  

/* Untuk Css Header Menu Bar */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 100px;
    background-color: #1a6fee;
  }
  
  .logo {
    cursor: pointer;
  }

  .logo img{
    width: 150px;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: rgb(4, 54, 135);
  }
  
  .cta {
    padding: 9px 25px;
    background-color: #0c0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #04ac04;
  }
  



/* Untuk Css Main Content */
.sec1 {
  position: relative; width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

.sec2 {
  position: relative; 
  width: 100%;
  min-height: 50vh;
  padding-left: 100px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3e51bc;
}

/* Untuk Css Main Content */

.Pembuka img {

  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.Text-Awal{
  padding: 40px;
  text-align: left;
}

.Text-Awal p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.Gambar-Akhir img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.main_left {
  float: left;
}

.main_left img{
  width: 600px;
}

.main_right {
  float: right;
  width: 500px;
}

.main_right h1 {
  color: white;
}

.main_right p {
  padding-top: 10px;
  color: white;
  line-height: 1.7em;
  text-align: justify;
}

.main_right a{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #10ad6c;
  color: #fff;
  border-radius: 40px;
  font-weight: 500; Letter-spacing: 1px;
  text-decoration: none;
}

.main_right a:hover {
  background-color: #0da264;
}

.content{
  margin-top: -100px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}         

.content .textBox{
  position: relative;
  max-width: 600px;
}

.content .textBox h1 {
  color: #333;
  font-size: 4em;
  Line-height: 1.4em;
  font-weight: 500;
}

.content .textBox p{
  margin-top: 10px;
  color: #333;
  Line-height: 1.8em;
  text-align: justify;
}

.content .textBox a{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500; Letter-spacing: 1px;
  text-decoration: none;
}

.content .textBox a:hover{
  color: white;
  background: #01502f;
}

.imgBox img{
  width: 800px;
}

/* SEC 3 */
.sec3 {
  position: relative; 
  width: 100%;
  min-height: 80vh;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

.sec3 h1{
  padding-top: 50px;
}

.sec3 .main_left {
  margin-top: 40px;
  margin-left: 100px;
  width: 500px;
  padding-top: 10px;
  color: rgb(0, 0, 0);
  line-height: 1.7em;
  text-align: justify;
}

.sec3 .main_left p {
  margin-top: 10px;
}

.main_right img{
  box-sizing: border-box;
  margin-left: -300px;
  width: 800px;
}


/* Service Html */
.sec1ser{
  margin-top: 100px;
  background-color: rgb(23,111,230);
}

.sec1ser .textBox {
  margin-top: 80px;
  margin-left: 70px;
  flex: 1;
  padding: 80px; /* Menambahkan padding di sebelah kanan dan kiri teks */
  text-align: left; /* Menjaga teks agar tetap rata kiri */
}

.sec1ser .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec1ser .textBox a {
  display: inline-block;
  font-family: sans-serif;
  padding: 10px 20px;
  background-color: #10ad6c; /* Warna latar belakang tombol */
  color: white; /* Warna teks tombol */
  text-decoration: none; /* Menghapus garis bawah default pada tautan */
  border-radius: 15px; /* Membuat sudut tombol melengkung */
  margin-top: 20px; /* Jarak atas tombol dari teks */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Bayangan tombol */
}

.sec1ser .textBox a:hover {
  background-color: #09a062; /* Warna latar belakang tombol saat dihover */
}


.sec1ser .textBox h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; /* Ini adalah gaya semi-bold */
  font-size: 60px;
  margin-bottom: 10px;
  color: white;
}

.sec1ser .textBox p {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: white;
}


.sec1ser .imgBox {
  margin-top: 100px;
  flex: 1;
}

.sec2service {
  background-color: #F5F5F5;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between; /* Memaksimalkan ruang horizontal */
  flex-wrap: wrap; /* Mengizinkan pembrambat (wrapping) item jika tidak cukup lebar */
}

.row {
  flex: 1; /* Membagi ruang setiap baris (row) */
  max-width: 48%; /* Maksimum lebar setiap kartu */
  margin: 10px;
}

.card {
  margin-bottom: 40px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  text-align: center;
  flex: 1; /* Membagi ruang setiap card dalam satu baris */
  height: 430px; /* Tinggi kartu */
  width: 700px;
}


.card h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600px;
  font-size: 24px;
  color: #0074D9;
}

.card img {
  max-width: 40%; /* Maksimum lebar gambar ikon */
  height: auto; /* Biarkan tinggi otomatis sesuai rasio */
  margin: auto; /* Pusatkan gambar horizontalmente */
  margin-bottom: 10px; /* Jarak antara gambar dan teks */
}

.card p {
  margin-left: 190px;
  width: 300px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

button {
  margin-top: 20px;
  background-color: #0074D9;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}




/* Untuk Css Footer */
footer {
    position: fixed;
    height: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a6fee;
    color: white;
    padding: 25px;
    text-align: center;
}

.contentct {
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label, form textarea, form input {
  display: block;
  margin-bottom: 10px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #7289da;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Untuk layar dengan lebar kurang dari 768px */
@media (max-width: 767px) {
  header {
    padding: 10px 5%; 
  }
  
  .Pembuka img {
    margin-bottom: 20px; 
  }
  
  .Text-Awal {
    padding: 20px;
  }
  
  .Text-Awal p {
    font-size: 16px; 
    margin-bottom: 15px;
  }

  .Gambar-Akhir img {
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  
  footer {
    padding: 10px 0;
  }

  /* Untuk layar dengan lebar kurang dari atau sama dengan 768px */
@media (max-width: 550px) {
  header {
    padding: 30px 10%; 
  }
  .cta{
    display: none;
  }
  .Pembuka img {
    margin-bottom: 50px; 
  }
  
  .Text-Awal {
    padding: 40px;
  }
  
  .Text-Awal p {
    font-size: 18px; 
    margin-bottom: 20px; 
  }

  .Gambar-Akhir img {
    margin-top: 50px; 
    margin-bottom: 40px; 
  }
  
  footer {
    padding: 25px;
  }
}
}