@import url('https://fonts.googleapis. com/css?family=Montserrat:500');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    bottom :0;
}
  
/* Form Search */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 300px;
  background: white;
  border-radius: 0%;
  border: none;
}

/* Untuk Css Header Menu Bar */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 100px;
    background-color: #1a6fee;
  }
  
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    margin-bottom: -2px;
  }
  
  .nav__links li {
    
  cursor: pointer;
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: rgb(184, 184, 184);
  }

  .upay{
    font-size: 40px;
  }

  .upay span {
    color: orange;
  }
  
  .cta {
    padding-top: 7px;
    padding-left: 22px;
    width: 130px;
    height: 39px;
    background-color: #33d273;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #04ac04;
    color: white;
  }
  



/* Untuk Css Main Content */
.sec1 {
  position: relative; width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

.sec1gal {
  margin-bottom: -100px;
  position: relative; width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}


/* SECTION 2 */
.sec2 {
  font-family: 'Montserrat';
  position: relative; 
  width: 100%;
  height: 620px;
  padding-left: 100px;
  padding-right: 150px;
  margin-top: -100px;
  display: flex;
  justify-content: space-between;
  background: #F9F9F9;
}

.exp {
  letter-spacing: 6px;
  color: #0074D9;

}


.main_left {
  float: left;
}

.main_left img{
  width: 1000px;
  position: static;
  margin-top: -80px;
  margin-left: -360px;
}

.main_right {
  float: right;
  margin-top: 60px;
  width: 500px;
}

.main_right h1 {
  color: black;
  font-size: 40px;
}

.main_right p {
  padding-top: 10px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  line-height: 2em;
  text-align: justify;
}

.main_right a{
  display: inline-block;
  margin-top: 40px;
  padding: 8px 20px;
  background: #10ad6c;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  height: 61px;
  width: 231px;
  margin-top: 20px;
  padding: 20px 58px;
}

.main_right a:hover {
  background-color: #0da264;
}

.sec2cy {
  font-family: 'Montserrat';
  position: relative; 
  width: 100%;
  height: 300px;
  padding-left: 100px;
  padding-right: 150px;
  align-items: center;
  background-color: #F9F9F9;
}

.column2 {
  margin-top: 60px;
  align-items: center;
  float: left;
  width: 25%;
  padding: 20px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.column2 p {
  margin-top: 10px;
  line-height: 23px;
  font-size: 13px;
}

.column2 h1{
  font-size: 40px;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Untuk Css Main Content */

.Pembuka img {

  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.Text-Awal{
  padding: 40px;
  text-align: left;
}

.Text-Awal p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.Gambar-Akhir img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
}


.content{
  margin-top: -100px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}         

.content .textBox{
  position: relative;
  max-width: 600px;
}

.content .textBox h1 {
  color: #333;
  width: 700px;
  font-family: 'Montserrat';
  font-size: 65px;
  Line-height: 1.4em;
  font-weight: 500;
}

.content .textBox p{
  font-family: 'Montserrat';
  margin-top: 10px;
  color: #333;
  Line-height: 1.8em;
  text-align: justify;
}

.content .textBox a{
  font-family: 'Montserrat';
  display: inline-block;
  margin-top: 20px;
  padding: 20px 68px;
  color: black;
  background: #FFC000;
  border-radius: 40px;
  font-weight: 500; 
  text-decoration: none;
  height: 61px;
  width: 231px;
}

.content .textBox a:hover{
  color: black;
  background: #efb400;
}

.imgBox img{
  width: 550px;
}

.imgBoxser img{
  width: 700px;
}

.imgBox2 img{
  width: 770px;
  position: static;
}

/* Gallery */
.columngal {
  float: left;
  width: 25%;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.rowgal:after {
  content: "";
  display: table;
  clear: both;
}

.columngal img {
  width: 360px;
}

/* SEC 3 HOME */
.sec3hm {
  background-color: #0074D9;
  border-radius: 0px 300px 300px 0px;
  position: relative; 
  width: 100%;
  min-height: 70vh;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
}

.sec3hm .main_lefthm {
  margin-top: 40px;
  margin-left: 100px;
  width: 500px;
  padding-top: 10px;
  color: white;
  line-height: 1.7em;
  text-align: justify;
}

.sec3hm .main_lefthm p {
  margin-top: 10px;
}

.sec3hm h1{
  font-size: 40px;
  line-height: 50px;
  width: 700px;
  margin-top: 90px;
}

.ctabt {
  padding: 9px 25px;
  background-color: #FFC000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  text-decoration: none;
  height: 61px;
  width: 231px;
  border-radius: 40px;
}

.main_rightbt img{
  box-sizing: border-box;
  margin-top: -650px;
  width: 800px;
}

.main_rightbt {
  float: right;
  width: 800px;
}



/* SEC 3 */
.sec3 {
  position: relative; 
  width: 100%;
  min-height: 80vh;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

.sec3 h1{
  padding-top: 50px;
}

.sec3 .main_left {
  margin-top: 40px;
  margin-left: 100px;
  width: 500px;
  padding-top: 10px;
  color: rgb(0, 0, 0);
  line-height: 1.7em;
  text-align: justify;
}

.sec3 .main_left p {
  margin-top: 10px;
}

.main_right img{
  box-sizing: border-box;
  margin-left: -300px;
  width: 800px;
}


.sec4{
  position: relative; 
  width: 100%;
  min-height: 107vh;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

/* Service Html */

.sec1ser{
  position: relative; width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0074D9;
}

.sec1ser .textBox h1{
  color: white;
}

.sec1ser .textBox p {
  color: white;
}


.sec2service {
  background-color: #F5F5F5;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between; /* Memaksimalkan ruang horizontal */
  flex-wrap: wrap; /* Mengizinkan pembrambat (wrapping) item jika tidak cukup lebar */
}


.card {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.card h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600px;
  font-size: 24px;
  color: #0074D9;
}

.card img {
  max-width: 40%; /* Maksimum lebar gambar ikon */
  height: auto; /* Biarkan tinggi otomatis sesuai rasio */
  margin: auto; /* Pusatkan gambar horizontalmente */
  margin-bottom: 10px; /* Jarak antara gambar dan teks */
}

.card p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

button {
  margin-top: 20px;
  background-color: #0074D9;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button2 {
  width: 200px;
  height: 100px;
}




/* Untuk Css Footer */
footer {
    position: static;
    height: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #181823;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 25px;
}

/* Bagian Contact */
.IsiContact {
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.252);
  font-family: Arial, Helvetica, sans-serif ;
}

.IsiContact p {
  margin-top: 14px;
  margin-bottom: 20px;
}
  
form label, form textarea, form input {
  margin-top: 10px;
  display: block;
  margin-bottom: 10px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #0982FE;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.PETA{
  display: flex;
  flex: 1;
  height: 480px;
  justify-content: center;
  align-items: center;
}

.MAP {
  width: 100%;
}

.Kontak{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: TOP;
}

.Phone{
  margin-right: 15px;
}

.Upload{
  display: none;
}

.uploadFile{
  margin-top: 15px;
  border-radius: 6px;
  border: 1px dashed gray;
  width: 100%;
  height: 100px;
  cursor: pointer;
  justify-content: center;
  align-items: TOP;
  text-align: center;
  padding-top: 40px;
}

.uploadFile:hover{
  color: red;
  border: 1px dashed red;
}


/* Testimonial Home */


/* FOOTER AKHIR */
.foot {
  font-family: 'Montserrat';
  margin-bottom: -10px;
  position: static;
  height: 350px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #12101D;
  color: white;
  text-align: center;
  padding: 25px;
}

.column2bt {
  font-family: 'Montserrat';
  text-align: left;
  align-items: center;
  float: left;
  width: 25%;
  padding: 80px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.column2bt p {
  text-align: left;
  margin-top: 10px;
  line-height: 23px;
  font-size: 13px;
}

.column2bt h1{
  text-align: left;
  font-size: 40px;
}

.column2bt h2{
  color:#FFC000 ;
}

.column2bt a{
  font-family: 'Montserrat';
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-top: 15px;
}

.column2bt a:hover {
  color: thistle;
}

.column2bt img{
  margin-top: 10px;
  margin-right: 20px;
}

/* PORTFOLIO */
.portfolio-section .card2 .card2-img-top{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px){
  .portfolio-section .card2 .card2-img-top {
      max-height: 100px;
  }
}

/* Clear floats after the columns */
.row2bt:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 480px){
  .IsiContact{
    font-size: large;
  }
  .PETA{
    display: none;
  }
}

@media (max-width: 767px){
  .IsiContact{
    font-size: small;
  }
  .PETA{
    display: none;
  }
}

/* Untuk layar dengan lebar kurang dari 768px */
@media (max-width: 767px) {
  header {
    padding: 10px 5%; 
  }
  
  .Pembuka img {
    margin-bottom: 20px; 
  }
  
  .Text-Awal {
    padding: 20px;
  }
  
  .Text-Awal p {
    font-size: 16px; 
    margin-bottom: 15px;
  }

  .Gambar-Akhir img {
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  
  footer {
    padding: 10px 0;
  }

  /* Untuk layar dengan lebar kurang dari atau sama dengan 768px */
@media (max-width: 550px) {
  header {
    padding: 30px 10%; 
  }
  .cta{
    display: none;
  }
  .Pembuka img {
    margin-bottom: 50px; 
  }
  
  .Text-Awal {
    padding: 40px;
  }
  
  .Text-Awal p {
    font-size: 18px; 
    margin-bottom: 20px; 
  }

  .Gambar-Akhir img {
    margin-top: 50px; 
    margin-bottom: 40px; 
  }
  
  footer {
    padding: 25px;
  }
}
}